.material-field {
  position: relative;
  top: 0px;
  /* margin: 20px; */
}
.material-field-input {
  font-size: 18px;
  padding: 13px 15px;
  margin-bottom: 20px;
  width: calc(100% - 30px);
  display: block;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.material-field-input:focus {
  outline: none;
  border: 2px solid #1976d2;
}
.material-field-input:focus ~ .material-field-label {
  color: #1976d2;
  transform: scale(0.75) translate(-13px, -30px);
}
.material-field-label {
  color: #ccc;
  background: #fff;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 15px;
  left: 8px;
  padding: 0 8px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
  -moz-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
  -webkit-transition: 150ms cubic-bezier(0.4, 0, 0.2, 1) all;
}
